services:
  db:
    env_file:
      - .env
    image: postgres:17-alpine
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - app-network
  api:
    build:
      context: .
      target: "${NODE_ENV}"
    user: "${UID}:${GID}"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    ports:
      - "${NGINX_PORT}:80"
    env_file:
      - .env
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
      - PORT=${PORT}
      - NGINX_PORT=${NGINX_PORT}
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/templates/nginx.conf.template:ro
    depends_on:
      - api
      - db
    networks:
      - app-network
  

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
